<html>
<head>
    <title>IFSP - Campus Pirituba</title>
</head>
<body>
  <section>
      <div>
        <h1>IFSP - Campus Pirituba</h1>        
        <form action="/" method="POST">          
          <div>            
            <ul>
                <li>
                    <label for="contato-nome">Nome</label>
                    <input type="text" name="nome" id="contato-nome" value="{{ contato['nome']}}" required/>
                </li>
              <br>              
                <li>
                    <label for="contato-email">E-Mail</label>
                    <input type="email" name="email" id="contato-email" value="{{ contato['email']}}" required/>
                </li>
                <li>
                    <label for="contato-telefone">Telefone</label>
                    <input type="text" name="telefone" id="contato-telefone" value="{{ contato['telefone']}}" required/>
                </li>
                <li>
                 <legend>Assunto</legend>
                    <select name="assunto">
                      <option value="default">-- Selecione --</option>
                      {% set opcoes = ['Reclamação', 'Sugestão'] %}
                      {% for opcao in opcoes %}
                      {% if opcao in contato['assunto'] %}
                      <option value="{{ contato['assunto'] }}" selected="selected">{{ contato['assunto']}}</option>
                      {% else %}
                      <option value="{{ opcao }}">{{ opcao }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                    <br><br> 
                </li>
                <li>
                    <label for="contato-telefone">Mensagem</label>
                    <textarea type="text" name="mensagem" id="contato-mensagem" required>{{ contato['mensagem']}}</textarea>
                </li> 
                <li>
                  <fieldset>
                    <legend>Opções de resposta</legend>
                    {% set check_opcoes = ['Email', 'Telefone'] %}
                    {% for check_opcao in check_opcoes %}
                    {% if check_opcao in contato['resposta'] %}                
                    <label for="{{check_opcao}}">{{check_opcao}}
                      <input id="{{check_opcao}}" type="checkbox" name="resposta" value="{{check_opcao}}" checked/>
                    </label>
                    {% else %}
                    <label for="{{check_opcao}}">{{check_opcao}}
                      <input id="{{check_opcao}}" type="checkbox" name="resposta" value="{{check_opcao}}"/>
                    </label>
                    {% endif %}
                    {% endfor %}
                  </fieldset>
                </li>
            </ul>            
            <input type="submit" value="Salvar" name="save" />            
          </div>
        </form>
        <form action="/limparBanco" method='POST'>              
              <input type='submit' value='Eliminar registros' name='delete' />
        </form>          
        <br>  
        <table border='1'>
          <tr>
              <th>Nome</th>
              <th>E-mail</th>
              <th>Telefone</th>
              <th>Assunto</th>
              <th>Mensagem</th>
              <th>Opcao</th>
              <th colspan="2">Ações</th>
          </tr>
          {% for value in contatos %}                        
            <tr>
              <td>{{contatos[value]['nome'] }}</td>
              <td>{{value}}</td>
              <td>{{contatos[value]['telefone'] }}</td>
              <td>{{contatos[value]['assunto'] }}</td>
              <td>{{contatos[value]['mensagem'] }}</td>
              <td>{{contatos[value]['resposta'] }}</td>
              <td>
                <form method="POST" action="/deletarContato/{{value}}">
                  <input type="submit" value="Eliminar Registro" name="deleteOne"/>
                </form>
              </td>
              <td>
                <form method="POST" action="/update/{{value}}">
                  <input type="submit" value="Alterar registro" name="updateOne">                  
                </form>
              </td>
            </tr>  
          {% endfor %}                      
        </table>       
          
      </div>
    </section>
</body>
</html>

